[build]
  publish = "build"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
  condition = "isNotFile"

[[headers]]
  for = "/*"
  [headers.values]
    cache-control = "public, max-age=3600"
